/* share Style*/
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.header {
  background: rgba(229, 84, 115, 0.1);
}
.contant {
  max-width: 1440px;
  margin: 0 auto;
}
.header-contant {
  display: flex;
  align-items: center;
}

.intro {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
}

.sub-intro {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
}

.btn-primary {
  border: none;
  outline: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
}
